div.menu {
    margin-left: 0px;
    background-color: #888;
    color: #fff;
    float: left;
    width: 30%;
}

div.content {
    background-color: #fff;
    color: #222;
    float: right;
    width: 70%;
}

p {
  margin-left: 10px;
}
