div.menu {
    margin-left: 0px;
    background-color: #888;
    color: #fff;
    float: left;
    width: 20%;
    height: 100vh;
    padding-left: 5%;
}

div.content {
    background-color: #fff;
    color: #222;
    float: right;
    width: 70%;
    height: 100vh;
}

p {
  margin-left: 10px;
}

div.menu li {
  list-style-type: none;
}

div.menu li ul {
    display: none;
}

div.menu li:hover ul {
    display: block;
    -webkit-transition: height 0.3s ease-in-out;
    -o-transition:  height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    transition:  height 0.3s ease-in-out;
}

div.menu a:link {
    color: #fff;
    text-decoration: none;
}

div.menu a:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

div.menu a:visited {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
