<div class="menu">
  <ul>
    <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      Subject Notes
    </li>
    <li>
      Blog Posts
    </li>
    <li>
      My Projects
      <ul>
        <li><a href="https://github.com/andrewrmack/llama-shell">Llama Shell</a></li>
      </ul>
    </li>
    <li>
      Where am I?
      <ul>
        <li><a href="https://github.com/andrewrmack">GitHub</a></li>
        <li><a href="mailto:andrewrmack@gmail.com">Email</a></li>
      </ul>
    </li>
  </ul>
</div>
